## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.log

## Visual Studio
.vs/
*.csproj.user
launchSettings.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/

## NuGet
*.nupkg
packages/
